<div class="row col-md-10 col-md-offset-1">

	<%= simple_form_for(@exchange	, html:{class:'form-horizontal'}) do |f| %>
	      <% f.error_notification %>

	      <%= f.input :listing_id %>
	      <%= f.input :user_id %>

	      <div class='row text-center'>
	     	  <%= f.submit nil, class:'btn btn-primary' %>
	     	  <%= link_to 'Cancel', :back, class:'btn btn-default'%>
	     </div>

	  <% end %>

</div>