<tr>
	<td><%= link_to user.first, user %></td>
	<td><%= user.last %></td>
	<td><%= user.email %></td>
	<td>
	<% if (!user.banned?)%>
		<%= link_to "Ban", user_ban_path(user), class:"btn btn-xs btn-danger", data: { confirm: "You sure?" } %>
	<% else %>
		<%= link_to "Unban", user_unban_path(user), class:"btn btn-xs btn-success", data: { confirm: "You sure?" } %>
	<% end %>
	</td>
</tr>