<div class="page-header">
  <h2>Select courses for:</h2>
  <h1> <%= @book.title %> <small><%= @book.author %></small> </h1>
</div>

<div class="alert alert-warning" role="alert">
  This book is new to our database! We need some more information before you can sell this book.<br>Note that as the first seller of this book, your username/email WILL BE LOGGED.
</div>

<br>
<%= simple_form_for(@book, html:{class:'form-horizontal'}, url: book_save_books_path ) do |f| %>
  
    <% f.error_notification %>
    <%= f.hidden_field :isbn %>
    <%= f.hidden_field :author %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :image_url %>

    <%= f.association :courses, label:"Select all Courses for this book:", collection: Course.all.order(:name), as: :check_boxes %>

    <div class='row text-center'>
   	 <%= f.submit "Add Book to Database", class:'btn btn-primary' %>
   	 <%= link_to 'Cancel', books_path, class:'btn btn-default' %>
   	</div>

<% end %>


