<div class="page-header">
  <h1>Step 2: Select courses for this book... </h1>
</div>
<br>

<%= simple_form_for(@book, html:{class:'form-horizontal'}, url: book_save_books_path ) do |f| %>
  
    <% f.error_notification %>


    <%= f.hidden_field :isbn %>
    <%= f.hidden_field :author %>
    <%= f.hidden_field :title %>

    <%= f.association :courses, collection: Course.all.order(:name), as: :check_boxes %>

    <div class='row text-center'>
   	 <%= f.submit nil, class:'btn btn-primary' %>
   	 <%= link_to 'Cancel', :back, class:'btn btn-default' %>
   	</div>

<% end %>






</div>