<div class="row col-md-10 col-md-offset-1">

<h1>Search Book</h1>
<br>
<%= simple_form_for(@book, html:{class:'form-horizontal'} ) do |f| %>
  
    <%= f.error_notification %>

    <%= f.input :isbn, label: false, placeholder: 'ISBN' %> <%= link_to new_book_path(isbn: f.elements[:isbn]) %>

    <h2> or </h2>


    <%= f.input :name, collection: Course.all.order(:name), label: 'Select Course'%>


    <div class='row text-center'>
   	 <%= f.submit nil, class:'btn btn-primary' %>
   	 <%= link_to 'Cancel', :back, class:'btn btn-default' %>
   	</div>

    <% end %>

    </div>



<%= render 'form' %>
