<div class="page-header">
  <h1><%= @book.title + " | "%><%= link_to(@book.course.name, @book.course) %></h1>
  <h4><%=  @book.author%> </h4>
</div>

<div class = "text-right">
<%= link_to "Sort by Price", book_path(@book, sort:"price"), class: 'btn btn-md btn-default' %>
<%= link_to "Sort by Quality", book_path(@book, sort:"quality"), class: 'btn btn-md btn-default' %>
<%= link_to fa_icon('exchange', text:'New Listing'), new_book_listing_path(@book), class: 'btn btn-md btn-primary' %>
</div><br>

<% buys = @book.listings.select{ |l| l.listing_type = "Buy" } %>

<% if (params[:sort] == 'price') %>
	<% buys = buys.sort_by { |l| [l.min_price, l.quality] }  %>
<% elsif (params[:sort] == 'quality') %>
	<% buys = buys.sort_by { |l| [l.quality, l.min_price] }  %>
<% end %>

<div class="row">
    <% buys.each do |buy| %>
		<div class="col-xs-3">
			<%= render buy %>
		</div>
	<% end %>
</div>


<br><br>
<div class='text-right'>
	<%= link_to fa_icon('pencil', text:'Edit Book'), edit_book_path(@book), class: 'btn btn-sm btn-default' %>
	<%= link_to fa_icon('trash-o', text:'Delete Book'),  @book, method: :delete, data: { confirm: 'Are you sure?'  }, class:'btn btn-sm btn-danger' %>
</div>
<br><br>
