
<div class="page-header">
  <h1><%= @book.title + " | "%><%= link_to(@book.course.name, @book.course) %></h1>
  <h4><%=  @book.author%> </h4>
</div>

<div class='text-right'>
	<%= link_to('Sort by Price', book_path(@book, sort:'price'), class:'btn btn-md btn-default') %>
	<%= link_to('Sort by Quality', book_path(@book, sort:'quality'), class:'btn btn-md btn-default') %>
</div>

<% buys = @book.listings.select{ |l| l.exchange_type == "0" } %>
<% auctions = @book.listings.select{ |l| l.exchange_type == "1" } %>
<% borrows = @book.listings.select{ |l| l.exchange_type == "2" } %>

<% if (params[:sort] == 'price') %>
	<% buys = buys.sort_by { |l| l.min_price }  %>
	<% auctions = auctions.sort_by { |l| l.min_price }  %>
<% end %>

<% if (params[:sort] == 'quality') %>
	<% buys = buys.sort_by { |l| l.quality }  %>
	<% auctions = auctions.sort_by { |l| l.quality }  %>
	<% borrows = borrows.sort_by { |l| l.quality }  %>
<% end %>

<div class="row">
    <% buys.each do |buy| %>
		<div class="col-xs-3">
			<%= render buy %>
		</div>
	<% end %>
</div>
<div class="row">
    <% auctions.each do |auction| %>
		<div class="col-xs-3">
			<%= render auction %>
		</div>
	<% end %>
</div>
<div class="row">
    <% borrows.each do |borrow| %>
		<div class="col-xs-3">
			<%= render borrow %>
		</div>
	<% end %>
</div>



<%= link_to fa_icon('exchange', text:'New Listing'), new_book_listing_path(@book), class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('pencil', text:'Edit Book'), edit_book_path(@book), class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('trash-o', text:'Delete Book'),  @book, method: :delete, data: { confirm: 'Are you sure?'  }, class:'btn btn-sm btn-danger' %>
<br><br>
