<div class="row col-md-10 col-md-offset-1">

	<h1> <%= controller.action_name.capitalize %> Course </h1>

  <%= simple_form_for(@course, html:{class:'form-horizontal'}) do |f| %>
    
      <% f.error_notification %>
      <%= f.input :name, label: false, placeholder: 'Name'%>
      <%= f.input :teacher %>
      <%= f.input :subject, collection: SUBJECTS %>

      <div class='row text-center'>
     	  <%= f.submit nil, class:'btn btn-primary' %>
     	  <%= link_to 'Cancel', :back, class:'btn btn-default'%>
     	</div>

  <% end %>

</div>

   