<div class="page-header">
  <h1><%= @course.name  + " | " %> <small><%= @course.teacher %></small></h1>
</div>

<div class="row">
	<h2>Books</h2>
	<%= link_to fa_icon('book', text:'New Book'), new_book_path(course_id:@course.id), class: 'btn btn-sm btn-primary' %>
	<br>
	<br>
	<% @course.books.each do |book| %>
		<div class="row">
			<div class="col-xs-3">
				<%= render book %>
			</div>

			<div class="col-xs-9">
				<div class="row">
					<% book.listings.sort_by{|l| [l.exchange_type.size, l.min_price]}.first(8).each do |listing| %>
						<div class="col-xs-3">
							<%= render listing %>
						</div>
					<% end %>
				</div>		
			</div>
		</div>
	<% end %>
</div>

<br>
<div class="text-right">
	<%= link_to fa_icon('pencil', text:'Edit Course'), edit_course_path(@course), class: 'btn btn-sm btn-default' %>
	<%= link_to fa_icon('trash-o', text:'Delete Course'),  @course, method: :delete, data: { confirm: 'Are you sure?'  }, class:'btn btn-sm btn-danger' %>
</div>
<br>
