<div class="page-header">
  <h1><%= @course.name%> <small><%= @course.teacher %></small></h1>
</div>

<div class="row">
	<div class="col-xs-6">
		<h2> Books </h2>
	</div>
	<div class="col-xs-6 text-right">
		<%= link_to "Sort by Price", course_path(@course, sort:"price"), class: 'btn btn-md btn-default' %>
		<%= link_to "Sort by Quality", course_path(@course, sort:"quality"), class: 'btn btn-md btn-default' %>
	</div>
</div>
<br>
	
<% @course.books.order(:title).each do |book| %>
	<div class="row">
		<div class="col-xs-3">
			<%= render book %>
		</div>

		<% listings = book.listings.where(status:true) %>
		<% if (params[:sort] == 'price') %>
			<% listings = listings.sort_by { |l| [l.listing_type.size, l.min_price, l.quality] }  %>
		<% elsif (params[:sort] == 'quality') %>
			<% listings = listings.sort_by { |l| [l.listing_type.size, l.quality, l.min_price] }  %>
		<% end %>


		<div class="col-xs-9">
			<% if listings.size == 0 %>
				<h3><small>No Current Listings for this Book :(</small></h3>
			<% end %>
			<div class="row">
				<% listings.first(8).each do |listing| %>
					<div class="col-xs-3">
						<%= render listing %>
					</div>
				<% end %>
			</div>		
		</div>
	</div>
<br>
<% end %>
<br>
<div class="text-right">
	<% if can? :modify, Course %>
		<%= link_to fa_icon('pencil', text:'Edit Course'), edit_course_path(@course), class: 'btn btn-sm btn-default' %>
	<% end %>
	<% if can? :destroy, Course %>
		<%= link_to fa_icon('trash-o', text:'Delete Course'),  @course, method: :delete, data: { confirm: 'Are you sure?'  }, class:'btn btn-sm btn-danger' %>
	<% end %>
</div>
<br>
