
<!DOCTYPE html>
<html>
<head>
  <title>Andover Book Exchange</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body style="overflow-x: hidden;">

<%= stylesheet_link_tag "background.css" %>
		
		<%= image_tag("Andover.jpg", :class => "bg") %>
	
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row text-center">
			
			<%=  image_tag "logo_600.png"%>
			
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="text-center">
		<%= link_to fa_icon('user', text:'Sign up'),  new_user_registration_path, class: 'btn btn-xl btn-default' %> &nbsp;&nbsp;
		<%= link_to fa_icon('unlock-alt', text:'Log in'), new_user_session_path, class: 'btn btn-xl btn-primary' %>
	</div>
</div>

</body>

