<div class="row col-md-10 col-md-offset-1">

<h1><%= controller.action_name.capitalize %> Report </h1>
<br>
<%= simple_form_for(@report, html:{class:'form-horizontal'} ) do |f| %>
  
    <% f.error_notification %>

    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :book_id %>
    <%= f.input :text, label:"Enter report here: "%>

    <div class='row text-right'>
   	 <%= f.submit nil, class:'btn btn-primary' %>
   	 <%= link_to 'Cancel', :back, class:'btn btn-default' %>
   	</div>

    <% end %>

</div>

   