<!DOCTYPE html>
<html>
<head>
  <title>Andover Book Exchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<!-- 	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'Books', books_path %></li>
					<li><%= link_to 'Courses', courses_path %></li>
				</ul>
			</div>
		</nav>
	</header> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href= <%= books_path %>>PA Book Exchange</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <p class="nav navbar-text">Welcome, <%= current_user.email.split("@").first%> </p>
        <% end %>
        <li><a href= <%= books_path %> >Books</a></li>
        <li><a href= <%= courses_path %> >Courses</a></li>
        
        <li class ="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
              <li><%= link_to 'Change Password', edit_user_registration_path %>
              <li><%= link_to 'Sign-out', destroy_user_session_path, :method=>:delete %></li>
            <% else %>
              <li><%= link_to 'Sign-in', new_user_session_path %></li>
            <% end %>
          </ul>
        </li>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	

<div class="container">
   
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
	<%= yield %>
</div>

</body>
</html>